body {
  margin: 0;
  padding: 0;
  background: #000;
}

.container {
  position: relative;
  height: 100vh;

  background: url("/public/stars.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.content {
  text-align: center;
}

.base {
  font-size: 48px;
  margin-bottom: 20px;
  letter-spacing: 12px;
}

/* CSS for the Rainbow button*/
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  /* color: rgb(255, 255, 255);
  background: #111; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #b78628,
    #c69320,
    #dba514,
    #eeb609,
    #fcc201
  );
  /* #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000 */

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #222; */
  left: 0;
  top: 0;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .base {
    font-size: 36px; /* Reduce font size for smaller screens */
  }
  .container {
    background-position: center;
  }

  .button-85 {
    font-size: 18px; /* Reduce font size for smaller screens */
    padding: 0.4em 1.5em; /* Adjust padding for smaller screens */
  }
}
@media screen and (max-width: 1024px) {
  .container {
    background-position: center;
  }
}
